@{
  Layout = "_Layout";
  ViewBag.Title = "Factory Home";
}
<div class="center">
</ul>
@Html.ActionLink("Create or manage account", "Index", "Account")<br>
<p>@Html.ActionLink("See all treats", "Index", "Treats")</p>
<p>@Html.ActionLink("See all flavors", "Index", "Flavors")</p>
</div>