@{
    Layout = "_Layout";
}

@model Bakery.Models.Treat;

<h4>Add a new Treat</h4>
@using (Html.BeginForm())
{
        @Html.LabelFor(model => model.TreatName)
        @Html.TextBoxFor(model => model.TreatName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TreatName, "", new { @class = "text-danger" })
    <input type="submit" value="Add new treat" class="btn btn-primary" />
}
<p>@Html.ActionLink("Show all treats", "Index")</p>