@{
    Layout = "_Layout";
}

@model Bakery.Models.Flavor;

<h4>Add a new Flavor</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FlavorName)
  @Html.TextBoxFor(model => model.FlavorName)
        @Html.ValidationMessageFor(model => model.FlavorName, "", new { @class = "text-danger" })
    <input type="submit" value="Add new flavor" class="btn btn-primary" />
}
<p>@Html.ActionLink("Show all flavors", "Index")</p>